{% extends "bootstrap/base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}

    <main class="d-flex h-100 w-100 justify-content-center align-items-center">
        <form class="d-flex flex-column border rounded-3 px-5 pb-3" method="POST" action="{{ url_for('update_iface') }}" novalidate>

            {{ form.csrf_token }}

            <!-- заголовок формы -->
            <h1 class="mt-5">Netmanager</h1>
            
            <!-- TODO поля формы с обработкой ошибок -->
            {% for address_entry_form in form.addresses %}
                {{ address_entry_form.hidden_tag() }}

                <label class="my-2 form-label">{{ address_entry_form.cidr.label }}</label>
                {% if address_entry_form.object_data != "new" %}
                    {% set value=address_entry_form.object_data %}
                {% else %}
                    {% set value="" %}
                {% endif %}
                {{ address_entry_form.cidr(value=value, class_="form-control") }}

                <label class="my-2 form-label">{{ address_entry_form.delete.label }}</label>
                {{ address_entry_form.delete }}

            {% endfor %}

            <!-- кнопка подтверждения формы -->
            {{ form.submit(class_="my-5 form-control btn-primary") }}

            <!-- кнопка выхода из пользователя -->
            <a class="btn btn-secondary" href="{{ url_for('logout') }}">Выход</a>


        </form>
    </main>

{% endblock %}